<% include ../partials/header %>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<style>
			@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
			@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

			body {
				position: fixed;
				overflow: scroll;
				width: 100%;
				top: 40%;
				right: 50%;
				bottom: 50%;
				width: auto;
				height: auto;
				background: url(https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252__340.jpg);
				background-size: 100vw 100vh;
			}
			.profile {
				position: relative;
				bottom: 210px;
				left: 50%;
				font-size: 15px;
			}
			.header{
				float: left;
				color: black;
				font-family: 'Exo', sans-serif;
				font-size: 20px;
				font-weight: 200;
				width: 1000px;
				position: relative;
				bottom: 200px;
				left: 50%;
				background: white;
				max-height: 300px;
				overflow-y:scroll;
			}

			.header div span {
				color: ;
			}

			.login {
				position: relative;
				left: 50%;
				padding: 10px;
			}
			.myRange {
				display: none;
			}
			.articleScore {
				display: none;
			}
			.text-input {
				width: 250px;
				height: 30px;
				background: transparent;
				border: 1px solid rgba(255,255,255,0.6);
				border-radius: 2px;
				color: #fff;
				font-family: 'Exo', sans-serif;
				font-size: 16px;
				font-weight: 400;
				padding: 4px;
			}
			.number-input {
				width: 250px;
				height: 30px;
				border: 1px solid rgba(255,255,255,0.6);
				border-radius: 2px;
				color: black;
				font-family: 'Exo', sans-serif;
				font-size: 16px;
				font-weight: 400;
				padding: 4px;
				position: relative;
				left: 25%;
			}
			.button-input {
				width: 250px;
				height: 35px;
				background: #fff;
				border: 1px solid #fff;
				cursor: pointer;
				border-radius: 2px;
				color: #a18d6c;
				font-family: 'Exo', sans-serif;
				font-size: 16px;
				font-weight: 400;
				padding: 6px;
				margin-top: 10px;
			}

			.bottom-div {
				width: 550px;
				height: 150px;
				position: relative;
				top: -150px;
				left: 70%;
			}

			.bottom-button {
				height: 100px;
				width: 100px;
			}
			
		</style>
	</head>

	<body oncontextmenu="return false">
		<% artIndex = Math.floor(Math.random() * 15); %>
			<% console.log(articles[artIndex]) %>
		<div class="profile">
			<a href="user/<%- currentUser._id %>">Your Profile</a>
			<br> <p>Your balance is: <%- currentUser.balance %></p> 
		</div>
			<div class="header">
			<%= articles[artIndex].body %> 
				<br>
			</div>
			<br>
			
			<div class="bottom-div">
				<form id="my_form" name="selection" action="/user/<%- currentUser._id %>" Method="POST">

					<input type="hidden" name="currentUser" display="hidden" value="<%- currentUser._id %>">

					<input type="hidden" name="articleScore" display="hidden" value="<%= articles[artIndex].lean %>">

					<input type="number" placeholder = "$10.00" name="betInput" min="1" max="5" class="number-input"><br>

					<input type="range" id="myRange" name="myRange" max="4">

					<!-- <input type="button" onclick="compare(0)" value="Far Left" class="bottom-button">
					<input type="button" onclick="compare(1)" value="Left" class="bottom-button">
					<input type="button" onclick="compare(2)" value="Center" class="bottom-button">
					<input type="button" onclick="compare(3)" value="Right" class="bottom-button">
					<input type="button" onclick="compare(4)" value="Far Right" class="bottom-button"> -->
					<button id="my_button">Place Bet</button>	
				</form>
				<div id="div_reveal" display: hidden>
					<h2><%= articles[artIndex].title %></h2>
					<h2><%= articles[artIndex].source %></h2>
				</div>

			<script language="javascript">
				function compare(guess) {
					if(guess == <%= articles[artIndex].lean %>) {
						console.log("Correct!");
					} else {
						console.log("Incorrect!");
					}
				}


				var form = document.getElementById("my_form"), button = document.getElementById("my_button");
				my_form.onsubmit = function() {
				    return false;
				}

				button.onclick = function() {

				document.getElementById("div_reveal").style.display = "block";

				setTimeout(function() {
				    form.submit();
				}, 7000);
				   return false;
				}
								
				function create(form) {
					window.open('https://ih1.redbubble.net/image.202004662.5837/flat,800x800,070,f.u6.jpg')
				}

				
			</script>
	</body>
</html>